REACT_APP_API_URL=https://example.com/
REACT_APP_CALL_END_WARNING=https://example.com/call-end-warning.mp3
REACT_APP_TEN_MIN_WARNING=https://example.com/ten-min-warning.mp3
REACT_APP_TWENTY_MIN_WARNING=https://example.com/twenty-min-warning.mp3

# APPLE NOTARIZATION PROCESS
APPLE_ID=example@example.com
APPLE_APP_SPECIFIC_PASSWORD=xxx-xxx-xxx-xxx
REACT_APP_VERSION=$npm_package_version
REACT_APP_NAME=$npm_package_name
